@model IEnumerable<Steaker_Store.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<a href="/Admin/Categories/Add" class="btn btn-success">➕ Add New Categories</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a href="/Admin/Categories/Display/@item.Id" class="btn btn-success">View</a> |
                    <a href="/Admin/Categories/Update/@item.Id" class="btn btn-info">Edit</a> |
                    <a href="/Admin/Categories/Delete/@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
